<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= app.dashboard_name %> - Verifica tu identidad</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="verification-box">
            <h2>Verifica tu identidad</h2>
            <form id="verificationForm">
                <label for="verificationCode">C칩digo de verificaci칩n:</label>
                <input type="text" id="verificationCode" name="verificationCode" required>
                <button type="submit" class="button">Verificar</button>
                <div class="additional-info">
                    <p><i class="fa-solid fa-info"></i> Est치s a punto de acceder a un recurso administrativo de <span style="color: plum;">Logidash</span>, por motivos de seguridad, debes verificar tu identidad.</p>
                    <p><i class="fa-solid fa-user-tie"></i> Actualmente, est치s conectado como <span style="color: plum;"><%= user.username %></span>.</p>
                </div>
            </form>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
