<link rel="stylesheet" href="/public/css/footer.css">
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-social">
                <h4>Redes Sociales</h4>
                <a href="https://www.youtube.com/c/LogikkYT" class="social-icon"><i class="fa-brands fa-youtube"></i>
                    YouTube</a>
                <a href="https://twitter.com/logikk4" class="social-icon"><i class="fa-brands fa-x-twitter"></i>
                    X.com</a>
                <a href="https://www.tiktok.com/@logikkyt" class="social-icon"><i class="fa-brands fa-tiktok"></i>
                    TikTok</a>
                <a href="https://www.twitch.tv/logikkyt" class="social-icon"><i class="fa-brands fa-twitch"></i>
                    Twitch</a>
            </div>
            <div class="footer-logo">
                <img src="/public/img/logikk.png" alt="Logo">
                <p class="logo-caption">Logikk's Dashboard</p>
            </div>
            <div class="footer-contact">
                <h4>Contacto</h4>
                <p>Email: <a href="mailto:contactologikk@gmail.com"
                        style="color: lightblue;">contactologikk@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; <%= new Date().getFullYear() %> Logikk's Dashboard. Todos los derechos reservados.</p>
            <i><small><a href="https://github.com/Crujera27/logitools" style="color: lightblue;">Logitools</a> developed
                    with ❤️ by
                    <a href="https://crujera.galnod.com" style="color: plum;">Crujera</a></small></i>
        </div>
    </div>
</footer>