<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-social">
                <h4>Redes Sociales</h4>
                <a href="https://www.youtube.com/c/LogikkYT" class="social-icon"><i class="fa-brands fa-youtube"></i> YouTube</a>
                <a href="https://twitter.com/logikk4" class="social-icon"><i class="fa-brands fa-x-twitter"></i> X.com</a>
                <a href="https://www.tiktok.com/@logikkyt" class="social-icon"><i class="fa-brands fa-tiktok"></i> TikTok</a>
                <a href="https://www.twitch.tv/logikkyt" class="social-icon"><i class="fa-brands fa-twitch"></i> Twitch</a>
            </div>
            <div class="footer-logo">
                <img src="https://crujera.galnod.com/img/logikk.png" alt="Logo">
                <p class="logo-caption">Logikk's Dashboard</p>
            </div>
            <div class="footer-contact">
                <h4>Contacto</h4>
                <p>Email: <a href="mailto:contactologikk@gmail.com" style="color: lightblue;">contactologikk@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Logikk's Dashboard. Todos los derechos reservados.<p><i><small><a href="https://github.com/Crujera27/crujera-logitools" style="color: lightblue;">Logitools</a> developed with ❤️ by <a
                href="https://crujera.galnod.com" style="color: plum;">Crujera</a></small></i></p></p>
        </div>
    </div>
</footer>








<style>

.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-social,
.footer-logo,
.footer-contact {
    flex: 1;
}

.footer-social {
    text-align: left;
}

.social-icon {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #007bff;
}

.footer-logo {
    position: relative;
    max-width: 150px; /* Adjust the max-width as needed */
    width: 100%;
    height: auto;
}

.footer-logo img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

.logo-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.footer-contact {
    text-align: right;
}

.footer-contact h4 {
    margin-bottom: 10px;
}

.footer-contact p {
    margin: 5px 0;
}

.footer-bottom {
    width: 100%;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    opacity: 0.8;
}

</style>