<!DOCTYPE html>
<html>

<head>
    <title>Logikk's Dashboard - Moderación</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="../public/js/video.js"></script>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <%- include('./inc/navbar.ejs') %>
        <div class="container mt-5">
            <h1>Nuestro equipo</h1>
            <p>Gracias a todos los integrantes/as de nuestro equipo de staff. Haciendo del servidor un mejor lugar.</p>
            <div class="staff-card-container">
                <div class="staff-card">
                    <img src="https://cdn.discordapp.com/avatars/451765453988298764/c817d2c07c3a116e2ce929a429b39908.png?size=256" alt="crujera27_3">
                    <div class="staff-card-content">
                        <h3><i class="fa-solid fa-id-card-clip"></i> Nombre: <span style="color: black;">crujera27_3</span></h3>
                        <p><i class="fa-solid fa-briefcase"></i> Cargo: <span style="color: black;">Mánager</span></p>
                    </div>
                </div>
                <div class="staff-card">
                    <img src="https://cdn.discordapp.com/avatars/392103643937112064/56e13bc629b03fc922b7ae6c6b634399.png?size=256" alt="pundo23">
                    <div class="staff-card-content">
                        <h3><i class="fa-solid fa-id-card-clip"></i> Nombre: <span style="color: black;">pundo23</span></h3>
                        <p><i class="fa-solid fa-briefcase"></i> Cargo: <span style="color: black;">Mánager</span></p>
                    </div>
                </div>
                <div class="staff-card">
                    <img src="https://cdn.discordapp.com/avatars/852591812870930433/5aac0f496a4afaaf0573885c987f4e66.png?size=256" alt="zaibiti">
                    <div class="staff-card-content">
                        <h3><i class="fa-solid fa-id-card-clip"></i> Nombre: <span style="color: black;">zaibiti</span></h3>
                        <p><i class="fa-solid fa-briefcase"></i> Cargo: <span style="color: black;">Admin Coordinator</span></p>
                    </div>
                </div>
                <div class="staff-card">
                    <img src="https://cdn.discordapp.com/avatars/466519141059133442/69cb05a4d5cf54132e180399751b3995.png?size=256" alt="itsBenson">
                    <div class="staff-card-content">
                        <h3><i class="fa-solid fa-id-card-clip"></i> Nombre: <span style="color: black;">itsbenson</span></h3>
                        <p><i class="fa-solid fa-briefcase"></i> Cargo: <span style="color: black;">Lead Mod</span></p>
                    </div>
                </div>
                <div class="staff-card">
                    <img src="https://cdn.discordapp.com/avatars/954427633821700116/7b72b9127dcf19171a7d88411ffaf332.png?size=256" alt="caleb_peralta">
                    <div class="staff-card-content">
                        <h3><i class="fa-solid fa-id-card-clip"></i> Nombre: <span style="color: black;">caleb_peralta</span></h3>
                        <p><i class="fa-solid fa-briefcase"></i> Cargo: <span style="color: black;">Mod Coordinator</span></p>
                    </div>
                </div>
                <div class="staff-card">
                    <img src="https://cdn.discordapp.com/avatars/463335219169329185/5f5793db6834a671654350f20c9ad1b5.png?size=256" alt="Loto">
                    <div class="staff-card-content">
                        <h3><i class="fa-solid fa-id-card-clip"></i> Nombre: <span style="color: black;">pepito.grillo</span></h3>
                        <p><i class="fa-solid fa-briefcase"></i> Cargo: <span style="color: black;">Moderador</span></p>
                    </div>
                </div>
            </div>
            <h3 style="margin: 15px;">¿Quieres formar parte de este maravilloso equipo de la moderación? <a href="https://forms.gle/9GRNkhR9NiBdAS8SA" style="color: lightblue;">Aplica ahora</a></h3>
        </div>
        <%- include('./inc/footer.ejs') %>
</body>

</html>