<!DOCTYPE html>
<html>
  <head>
    <title><%= app.dashboard_name %> - Cuenta suspendida</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <script src="../public/js/popup-manager.js"></script>
    <script src="../public/js/video.js"></script>
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>

  <body>
    <%- include('./inc/navbar.ejs') %>
    <div class="container mt-5">
        <h1>Cuenta suspendida</h1>
        <h4>Esta cuenta ha sido suspendida debido a una violación de los términos de servicio del dashboard.</h4>
    </div>
    <%- include('./inc/footer.ejs') %>
  </body>
</html>
