/*
.____                 .__  __                .__          
|    |    ____   ____ |__|/  |_  ____   ____ |  |   ______
|    |   /  _ \ / ___\|  \   __\/  _ \ /  _ \|  |  /  ___/
|    |__(  <_> ) /_/  >  ||  | (  <_> |  <_> )  |__\___ \ 
|_______ \____/\___  /|__||__|  \____/ \____/|____/____  >
        \/    /_____/                                  \/ 
                         
        
    Copyright © 2024 Crujera27 y contribuidores. Todos los derechos reservados.
    
    GitHub: https://github.com/Crujera27
    Web: https://crujera.galnod.com
    Licencia del proyecto: MIT

*/


body {
    background-color: #1b1e23;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
    color: #007bff;
}

h2 {
    font-size: 2rem;
    margin-top: 0;
    opacity: 0.8;
    color: #495057;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #dee2e6;
}

tr:hover {
    background-color: #1b1e2341;
}

th {
    background-color: #343a40;
    color: #fff;
}

.button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
    color: #fff;
}

.dashboard-card,
.dashboard-cardbig,
.featured-video-card,
.popular-links-card {
    background-color: #343a40;
    padding: 20px;
    margin-top: 40px;
    transition: transform 0.3s ease;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dashboard-card h2,
.dashboard-cardbig h2,
.featured-video-card h2,
.popular-links-card h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
}

.dashboard-cardbig,
.featured-video-card,
.popular-links-card {
    padding: 30px;
    margin-top: 60px;
}

.dashboard-cardbig h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.featured-video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.featured-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.popular-links {
    display: flex;
    flex-wrap: wrap;
}

.popular-link {
    background-color: #343a40;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.popular-links .popular-link {
    color: white;
    text-decoration: none;
}

.popular-links .popular-link:hover {
    background-color: #0056b3;
    color: #fff;
}

.notification {
    margin: 20px 0;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}

.notification-danger {
    background-color: #dc3545;
    color: #fff;
}

.notification-warning {
    background-color: #ffc107;
    color: #333;
}

.notification-success {
    background-color: #28a745;
    color: #fff;
}

@media (min-width: 768px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .dashboard-card,
    .dashboard-cardbig,
    .featured-video-card,
    .popular-links-card {
        flex: 1;
        margin: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .featured-video-card {
        order: -1;
    }
}

/* History.ejs */

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
}

.table-striped tbody tr:hover {
    background-color: #e9ecef;
}

th {
    background-color: #007bff;
    color: #ffffff;
}

.btn-primary {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.table-striped tbody tr.warn-mild {
    background-color: #FFD700;
    color: white;
}

.table-striped tbody tr.warn-middle {
    background-color: #FF6347;
    color: white;
}

.table-striped tbody tr.warn-severe {
    background-color: #DC143C;
    color: white;
}

.table-striped tbody tr.timeout {
    background-color: #FF8C00;
    color: white;
}

.table-striped tbody tr.ban {
    background-color: #000000;
    color: white;
}

.table-striped tbody tr.expired {
    opacity: 0.5;
    color: white;
}


/* Moderación.ejs */

.staff-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.staff-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
}

.staff-card img {
    max-width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.staff-card-content {
    padding: 20px;
}

.staff-card h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    color: #666;
}

.staff-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

/* Notification (popup) */


section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#bg {
    width: 100%;
    height: 100vh;
}

section#bg button[type=button] {
    width: 60px;
    height: 60px;
    background-color: #007bff27;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

section#bg button[type=button] svg {
    width: 60%;
}

section#bg button[type=button] svg path {
    fill: #055dff;
}

section#popAlert {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.0);
    transition: 0.6s top cubic-bezier(0.175, 0.885, 0.32, 1.275),
        0.1s background-color linear 0s;
}

section#popAlert.active {
    top: 0;
    background-color: rgba(255, 255, 255, 0.3);

    transition: 0.3s top cubic-bezier(0.175, 0.885, 0.32, 1.275),
        0.6s background-color linear 0.3s;
}

section#popAlert aside {
    width: 90%;
    max-width: 350px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
}

section#popAlert aside h2 {
    font-size: 25px;
    color: #007bff;
}

section#popAlert aside p {
    font-size: 16px;
    margin: 5px 0;
}

section#popAlert aside button[type=button] {
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    border: none;
    border-radius: 3px;
    padding: 5px 0;
    cursor: pointer;
    background-color: #e5e5e5;
    transition: 0.3s all ease-in-out;
}

section#popAlert aside button[type=button]:hover {
    background-color: #007bff;
    color: #fff;
}