# .____                 .__  __                .__          
# |    |    ____   ____ |__|/  |_  ____   ____ |  |   ______
# |    |   /  _ \ / ___\|  \   __\/  _ \ /  _ \|  |  /  ___/
# |    |__(  <_> ) /_/  >  ||  | (  <_> |  <_> )  |__\___ \ 
# |_______ \____/\___  /|__||__|  \____/ \____/|____/____  >
#        \/    /_____/                                  \/ 
#                         
#        
#    Copyright (C) 2024 Ángel Crujera (me@crujera.net)
#
#    This program is free software: you can redistribute it and/or modify  
#    it under the terms of the GNU Affero General Public License as published by  
#    the Free Software Foundation, either version 3 of the License, or  
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,  
#    but WITHOUT ANY WARRANTY; without even the implied warranty of  
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the  
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License  
#    along with this program. If not, see <https://www.gnu.org/licenses/>.
#    
#    GitHub: https://github.com/Crujera27/
#    Website: https://crujera.net



owner="Logikk's Discord"
owner_email="contactologikk@gmail.com"
dashboard_name="Logikk's Dashboard"
logo_url="logikk.png"
bind_address = "localhost" # Solo para configuraciones avanzadas, es recomendado dejarlo a no ser que este enjutando esto en una máquina con múltiples direcciones IP públicas.
port = "3000"

[pterodactyl]
enabled = true
log_msg = "pterodactyl, bot started"

[login_page]
html_lang="es"
html_description="Página web oficial del Discord de Logikk. Creador de contenido de Bee Swarm Simulator. Desde aquí puedes controlar varias acciones."
html_keywords="logikk, bss, dashboard, discord, bee, swarm, simulator, LogikkYT, logikk4, dash, dis, controll, panel"
html_author="Logikk Media"
og_title="Logikk's Dashboard"
og_description="Página web oficial del Discord de Logikk. Creador de contenido de Bee Swarm Simulator. Desde aquí puedes controlar varias acciones."
og_image="/public/img/logikk.png"
og_url="https://logikk.crujera.net"


[oauth]
discord_callback = "http://localhost:3000/auth/discord/callback" # URL de callback para el oauth  de Discord

[web]
server_id="901587289954730004" # ID del servidor para cargar las APIs (Polaris y Unbelievaboat)

[footer_links]
# Para desactivar, deja la string en blanco, es decir, solamente con las comillas, por ejemplo: youtube=""
youtube="https://www.youtube.com/c/LogikkYT"
xdotcom="https://twitter.com/logikk4"
tiktok="https://www.tiktok.com/@logikkyt"
twitch="https://www.twitch.tv/logikkyt"
facebook=""
instagram=""
linkedin=""


[discord]
handler_prefix = "lt!"
handler_deploy = true
modlog_webhook = "https://discord.com/api/webhooks/1242533340125597817/NB96eEONZr4y5ZATFF-2tVpQjgiWyYjlg_GEJ9Ds-NvE6-hMl6M-G_U-0QPpGEdh462O"
warns_channel = "" # ID del canal donde se enviarán las notificaciones de warns
evidence_channel = "" # ID del canal donde se enviarán las evidencias (capturas de mensajes)
[discord_handler_commands]
  prefix = true
  slash = true
  user = true
  message = true
[discord_development]
enabled = true
guild = "" # ID del servidor de desarollo
developers = "" # IDs de los desarolladores

[punishments]
limit_warns_mild="3"
limit_warns_milddle="3"
limit_warns_severe="3"
# DE AQUÍ PARA DEBAJO NO FUNCIONA DE MOMENTO (solamente para la sección de punishments)
punishment_limit_warn_mild="timeout"
punishment_limit_warn_mild_duration="3d"
punishment_limit_warn_milddle="timeout"
punishment_limit_warn_milddle_duration="7d"
punishment_limit_warn_severe="ban"
punishment_limit_warn_milddle_severe=""
reset_cnt_add_nextlvl_warn_on_limit= true # Si está activado una vez que el límite de un warn es superado, se le aplica el warn del siguiente grado (a no ser que sea grave, que es el nivel máximo) y la sanción asociada con superar el límite de warns. Si está desactivado, solamente se le aplica la sanción especificada anteriormente y se reinician los warns del límite superado.


[staffpage]
apply_link="https://forms.gle/9GRNkhR9NiBdAS8SA"


[ai]
enabled=true
assistant_name="LogikkGuard" # Se le informa al modelo en el proceso de carga de cuál es su nombre (mensaje enviado como sistema)
ollama_host="http://localhost:11434" # URL del servidor Ollama remoto
ollama_model="llama-guard3" # Default: llama-guard3. Puedes consultar una lista completa en https://ollama.com/search